.custom-modal {

  &-header {
    background: var(--primary-grey);
    box-shadow: 0 11px 10px rgba(0, 4, 0, 0.25);
    margin-bottom: 0;
    padding: 1rem 2rem;
    border: none;
    z-index: 1;
  }

  &-title {
    color: var(--primary-green);
  }
}

.btn-close {
  background-color: var(--primary-green) !important;
  opacity: 1;
}