.folderCard {
  background: rgba(255, 255, 255);
  border-radius: 0px 0px 0px 0px;
  width: 260px;
  height: 110px;
  /* clip-path: path(" M 0 0 L 90 0 L 120 21L 260 21 L 260 110 L 0 110 Z "); */
  /* clip-path: path(" M 0,10 L 0, Z "); */
  clip-path: path(
    " M 0 0 L 84 0 Q 90 0 93 2 L 110 18 Q 112 21 126 21 L 260 21 L 260 110 L 0 110 Z"
  );
}
