#episode-tabs {
    .nav-item {
        button.nav-link {
            padding: 0.5rem 3.5rem;
            font-size: 1rem;
            color: #6c757d;
            border: none;
            border-bottom: 3px solid #dee2e6;
            background: none;

            &:hover {
                color: #3E5DAB;
                border-bottom: 3px solid #3E5DAB;
            }

            &.active {
                color: var(--primary-grey);
                font-weight: 600;
                border-bottom: 3px solid var(--primary-grey);
                background: none;
            }
        }
    }
}

.tab-content-container {
    padding: 1rem 0;

    h4 {
        color: var(--primary-grey);
        font-weight: 700;
    }

    .search-input {
        width: 450px;
        border-radius: 20px;
        padding: 0.4rem 1rem;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.20);
        transition: all 0.2s ease-in-out;

    }

    &__table .ag-cell {
        font-size: 13px;
    }

    &__table .ag-header-cell-label {
        font-size: 13px;
    }
}