.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    text-align: center;

    &-icon {
        font-size: 4rem;
        color: #555;
        margin-bottom: 16px;
    }

    &-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        margin-bottom: 8px;
    }

    &-description {
        color: #888;
    }
}
@media (max-width: 768px) {
    .empty-state {
  
    &-icon {
        font-size: 3rem;
    }

    &-title {
        font-size: 1.3rem;

    }
      &-description {
        font-size: 0.9rem;
    }

}
}

@media (max-width: 480px) {
     .empty-state {
  
    &-icon {
        font-size: 2rem;
    }

    &-title {
        font-size: 1.2rem;

    }


}
}