#overlay-glasses {
  backdrop-filter: blur(1px);
  background-color: transparent;
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2)
  );
  /* background-size: 80px; */
}
