// Màu text
$color-text-primary: var(--color-text-primary, #ff0000);
$color-text-secondary: #6c757d; // Màu text phụ
$color-text-link: #007bff; // Màu link
$color-text-placeholder: #adb5bd; // Màu placeholder