<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title>MAIL THÔNG BÁO </title>
</head>

<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title mb-3 text-primary">@Model.Message</h2>
                <p class="mb-3"></p>
                <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email.</p>
                <p class="mt-4 mb-0 text-muted">Trân trọng,<br />SurveyTalk Team</p>
            </div>
        </div>
    </div>
</body>

</html>