@* @model ModerationService.BusinessLogic.DTOs.ViewModels.Mail.ForgotPasswordEmailViewModel *@

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu - SurveyTalk</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title mb-3 text-primary">Xin chào!</h2>
                <p class="mb-2">Bạn nhận được email này vì đã yêu cầu đặt lại mật khẩu trên SurveyTalk.</p>
                <p class="mb-3"></p>
                <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email.</p>
                <p class="mt-4 mb-0 text-muted">Trân trọng,<br />SurveyTalk Team</p>
                <h1>Link reset password: </h1>
                <a href="@Model.ResetPasswordUrl" >Đặt lại mật khẩu</a>
            </div>
        </div>
    </div>
</body>
</html>