#scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.pagination-link {
  color: white;
  transition: 0.2s;
}
.pagination-link:hover {
  color: black;
  background-color: "rgba(255,255,255, 0.2)";
}
