.loading-bar {
  width: 4px;
  height: 8px;
  margin: 0 1px;
  background-color: white;
  border-radius: 2px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 8px;
  }

  50% {
    height: 15px;
  }

  100% {
    height: 8px;
  }
}
