// chat-room/dark.scss
@mixin ChatRoom-Theme_dark {
  --color-text-primary: #a400a7;

  --chat-box-info_text-error: #c3b900;
  // Cấu hình cho các selector
  button {
    background-color: rgb(39, 255, 75);
  }
  .MessageListScrollBarLayout{
    background-color: #2c3e50;
  }
  .TestLuonChoNongNe{
    display: block;
    background-color: rgb(255, 0, 0);
    right: 20px;
  }
  ul {
  }

  li {
  }
}
